*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
    color: white;
}
@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}
/* banner style */
.banner{
    height: auto;
    background: url('../img/banner1.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.banner .navbar{
    padding: 30px 70px;
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.banner .navbar .nav-right{
    text-align: center;
    padding-top: 8px;
}
.banner .navbar .nav-right ul li{
    display: inline;
    list-style: none;
    padding: 14px;
}
.banner .navbar .nav-right ul li a{
    text-decoration: none;
    font-size: 16px;
    position: relative;
    padding-bottom: 15px;
}
.banner .navbar .nav-right ul li a button,.banner .heading button{
    background: none;
    font-size: 16px;
    border: 1px solid gray;
    padding: 15px 35px;
    border-radius: 30px;
    transition: 0.5s;
}
.banner .navbar .nav-right ul li a button:hover,.banner .heading button:hover{
    background-color: #FD4766;
}
.banner .navbar .nav-right ul li .a-after::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FD4766;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
.banner .navbar .nav-right ul li .a-after:hover::after{
    width: 100%;
}
.banner .navbar .nav-right ul li a .fa-cart-shopping{
    position: relative;
}
.banner .navbar .nav-right ul li a .fa-cart-shopping::after{
    content: '0';
    font-size: 12px;
    width: 20px;
    height: 20px;
    background-color: #FD4766;
    border-radius: 50%;
    line-height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
}
.banner .heading{
    padding: 70px;
}
.banner .heading h6{
    font-size: 15px;
    letter-spacing: 4px;
    color: #C6C9D8BA;
}
.banner .heading h1{
    font-size: 70px;
    line-height: 80px;
    margin-top: 30px
}
.banner .heading h1 span{
    color: #FD4766;
}
.banner .heading p{
    font-size: 70px;
    padding-bottom: 30px;
}

/* about me style */
.about{
    background-color: black;
    padding: 120px 70px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
}
.about .profile-photo img{
    border-radius: 15px;
}
.about .about-me{
    padding: 10px 0px;
}
.text-lig{
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
    font-weight: 600;
    font-size: 16px;
    color: transparent;
    background-clip: text;
	-webkit-background-clip: text;
}
.about .about-me h1{
    font-size: 45px;
    margin-top: 25px;
}
.about .about-me p{
    color: rgba(198, 201, 216, 0.75);
    margin-top: 25px;
}
.about .about-me .skill{
    border: 1px solid gray;
    border-radius: 30px;
    margin-top: 25px;
}
.about .about-me .skill ul{
    padding: 15px 0px;
}
.about .about-me .skill ul li{
    display: inline;
    list-style: none;
}
.about .about-me .skill ul li a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 42px;
}
.about .about-me .skill ul li .active{
    background-color: #FD4766;
    padding: 17px;
    border-radius: 30px;
} 
.about .about-me h6{
    font-size: 16px;
    padding-top: 25px;
}
.about .about-me .m-0{
    margin-top: 0px;
}

/* service style */
.main-service{
    background-color: #191919;
    padding: 120px 70px;
    text-align: center;
}
.main-service h1{
    font-size: 50px;
}
.main-service p{
    color: rgba(198, 201, 216, 0.75);
}
.main-service .services{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.main-service .services .service-box{
    background-color: black;
    border-radius: 15px;
    padding: 40px 30px;
    text-align: left;
    transition: 1s;
}
.main-service .services .service-box i{
    color: #FD4766;
    font-size: 35px;
}
.main-service .services .service-box h3{
    padding-top: 20px;
    font-size: 20px;
}
.main-service .services .service-box p{
    padding-top: 20px;
    font-size: 17px;
    line-height: 28px;
}
.main-service .services .service-box:hover{
    transform: translateY(-8px);
    box-shadow: 0px 1px 10px #FD4766;
}

/* project part style */
.main-project{
    background-color: black;
}
.main-project .projects .project-box{
    border-radius: 8px;
    padding: 350px 30px 40px 30px;
    text-align: left;
    background-size: 100% 100%;
    /* transition: 0.5s;
    background-repeat: no-repeat; */
}
.main-project .projects .project1{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url(../img/project1.jpg);
    transition: 0.5s;
}
.main-project .projects .project2{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url(../img/project2.jpg);
    transition: 0.5s;
}
.main-project .projects .project3{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url(../img/project3.jpg);
    transition: 0.5s;
}
.main-project .projects .project4{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url(../img/project4.jpg);
    transition: 0.5s;
}
.main-project .projects .project5{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url(../img/project5.jpg);
    transition: 0.5s;
}
.main-project .projects .project6{
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url(../img/project6.jpg);
    transition: 0.5s;
}
.main-project .projects button{
    background:none;
    border: 1px solid white;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 12px;
    letter-spacing: 0px;
    border-radius: 0px;
    transition: 0.5s;
}
.main-project .projects button:hover{
    background-color: #FD4766;
    border: 1px solid #FD4766;
}
.main-project button{
    background-color: #FD4766;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid #FD4766;
    transition: 0.5s;
}
.main-project button:hover{
    background: none;
}
/* .main-project .projects .project1:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(253,71,102,0.5)),url(/img/project1.jpg);
    transform: scale(1.05);
    background-size: 110% 110%;
    background-position: -10px -10px;
}
.main-project .projects .project2:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(253,71,102,0.5)),url(/img/project2.jpg);
    transform: scale(1.05);
    background-size: 110% 110%;
    background-position: -10px -10px;
}
.main-project .projects .project3:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(253,71,102,0.5)),url(/img/project3.jpg);
    transform: scale(1.05);
    background-size: 110% 110%;
    background-position: -10px -10px;
}
.main-project .projects .project4:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(253,71,102,0.5)),url(/img/project4.jpg);
    transform: scale(1.05);
    background-size: 110% 110%;
    background-position: -10px -10px;
}
.main-project .projects .project5:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(253,71,102,0.5)),url(/img/project5.jpg);
    transform: scale(1.05);
    background-size: 110% 110%;
    background-position: -10px -10px;
}
.main-project .projects .project6:hover{
    background: linear-gradient(rgba(0,0,0,0),rgba(253,71,102,0.5)),url(/img/project6.jpg);
    transform: scale(1.05);
    background-size: 110% 110%;
    background-position: -10px -10px;
} */

/* plan style */
.main-plan{
    background-color: #191919;
}
.main-plan .plans{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
.main-plan .plans{
    margin-top: 30px;
}
.main-plan .plans .plan-box{
    background:none;
    border: 1px solid rgba(198, 201, 216, 0.75);
    padding: 50px 40px;
    border-radius: 5px;
}
.main-plan .plans .plan-box .up span{
    font-size: 70px;
    color: #FD4766;
}
.main-plan .plans .plan-box .up{
    border-bottom: 1px solid rgba(198, 201, 216, 0.75);
    padding-bottom: 30px;
}
.main-plan .plans .plan-box .down{
    padding-top: 30px
}
.main-plan .plans .plan-box .down ul li{
    list-style: none;
    text-align: left;
    line-height: 35px;
    font-size: 18px;
}
.main-plan .plans .plan-box .down button{
    background: none;
    color: #FD4766;
    border: 1px solid #FD4766;
    letter-spacing: 2px;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    transition: 0.5s;
}
.main-plan .plans .plan-box .down button:hover{
    background-color: #FD4766;
    color: white;
}
.main-plan .plans .plan-box .down ul li .fa-check{
    width: 20px;
    height: 20px;
    background-color: rgba(198, 201, 216, 0.75);
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
}
.main-plan .plans .pink-box{
    background-color: #FD4766;
    border: none;
}
.main-plan .plans .pink-box span,.main-plan .plans .pink-box p,.main-plan .plans .pink-box i{
    color: white !important;
}
.main-plan .plans .pink-box button{
    background-color: white !important;
}
.main-plan .plans .pink-box button:hover{
    color: #FD4766 !important;
}
/* news style */
.main-project .projects .news1{
    background: url('../img/news1.jpg');
    background-repeat: no-repeat;
}
.main-project .projects .news2{
    background: url('../img/news2.jpg');
    background-repeat: no-repeat;
}
.main-project .projects .news3{
    background: url('../img/news3.jpg');
    background-repeat: no-repeat;
}
.main-project .projects .news-hover{
    position: relative;
    overflow: hidden;
}
.main-project .projects .news-hover button{
    position: absolute;
    bottom: -40px;
}
.news-hover p{
    transition: 0.5s;
}
.news-hover h2{
    transition: 0.5s;
}
.main-project .projects .news-hover:hover.news-hover p{
    transform: translateY(-70px);
}
.main-project .projects .news-hover:hover.news-hover h2{
    transform: translateY(-70px);
}
.main-project .projects .news-hover:hover.news-hover button{
    transform: translateY(-70px);
}

/* hire style */
.main-hire{
    background-color: #191919;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}
.main-hire .hire-form{
    text-align: left;
}
.main-hire .hire-form  input, .main-hire .hire-form  textarea{
    background: none;
    border: 1px solid rgba(198, 201, 216, 0.75);
    padding: 10px;
    width: 560px;
    margin-top: 20px;
    font-size: 15px;
}
.main-hire .hire-form button{
    background-color: #FD4766;
    border: 1px solid #FD4766;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.5s;
}
.main-hire .hire-form button:hover{
    background: none;
    color: #FD4766;
}
.main-hire .hire-form p{
    margin-top: 20px;
}

/* footer style */
.main-footer{
    background-color: black;
    padding: 30px 70px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}
.main-footer .social-link ul{
    margin-top: 15px;
}
.main-footer .social-link ul li{
    list-style: none;
    display: inline;
    padding-left: 20px;
}
.main-footer .social-link ul li a i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(198, 201, 216, 0.75);
}
.main-footer .copyright p{
    color: rgba(198, 201, 216, 0.75);
    font-size: 14px;
    text-align: right;
    text-indent: 20px;
    margin-top: 15px;
}